* {
    font-family: 'Courier New', Courier, monospace;
}

#person {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
}

#ground {
    width: 100%;
    height: 45px;
    background-color: #5AB96D;
    position: absolute;
    bottom: 0;
}

body {
    background-color: #97D5FC;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

h1 {
    text-align: center;
}

button {
  border-radius: 15px;
}